force-app/main/default/flows/UIJobTaskFlow_Demo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <isTemplate>true</isTemplate>
    <actionCalls>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>930</locationX>
        <locationY>242</locationY>
        <actionName>UIJobFlowDemo_Action</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Reset_lastString</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__listOfRecords</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lastString</name>
            <value>
                <elementReference>lastString</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>noOfRecords</name>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>UIJobFlowDemo_Action</nameSegment>
        <outputParameters>
            <assignToReference>ListOfAccount</assignToReference>
            <name>listOfRecords</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_1_to_recidx</name>
        <label>Add 1 to recidx</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recIdx</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>check_recidx</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_chainNum</name>
        <label>Increase chainNum</label>
        <locationX>930</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>chainNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_output</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_lastString</name>
        <label>Reset lastString</label>
        <locationX>930</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>lastString</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>reset_recidx</name>
        <label>reset recidx</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>recIdx</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_recidx</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_output</name>
        <label>set output</label>
        <locationX>930</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>outputJSON</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>outpuyJSON_formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>outputMessage_Formula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Account_Name_with_count</name>
        <label>Update Account Name and Reset lastString</label>
        <locationX>1018</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Loop_1.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateAccountName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lastString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Default_Account_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>LWC Orchestration Test Account</stringValue>
        </value>
    </constants>
    <decisions>
        <name>check_recidx</name>
        <label>check recidx</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reach_140</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recIdx</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>140.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account</targetReference>
            </connector>
            <label>Reach 140</label>
        </rules>
    </decisions>
    <decisions>
        <name>paramTwocheck</name>
        <label>paramTwo</label>
        <locationX>622</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>purgeData</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>paramTwo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PurgeData</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Test_Account</targetReference>
            </connector>
            <label>purgeData</label>
        </rules>
        <rules>
            <name>createDemoAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>paramTwo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>createDemoAccount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>reset_recidx</targetReference>
            </connector>
            <label>createDemoAccount</label>
        </rules>
        <rules>
            <name>updateAccountChain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>paramTwo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>updateAccountChain</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Accounts</targetReference>
            </connector>
            <label>updateAccountChain</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>outputMessage_Formula</name>
        <dataType>String</dataType>
        <expression>&quot;Currently Processing Chain Number  : &quot; + TEXT({!chainNum}) + &quot; Count : &quot; + TEXT({!count})</expression>
    </formulas>
    <formulas>
        <name>outpuyJSON_formula</name>
        <dataType>String</dataType>
        <expression>&apos;{ &quot;count&quot; : &apos; + TEXT({!count}) + &apos; , &quot;chainNum&quot; : &apos; + TEXT({!chainNum}) + &apos;}&apos;</expression>
    </formulas>
    <formulas>
        <name>UpdateAccountName</name>
        <dataType>String</dataType>
        <expression>&quot;LWC Orchestration Test Account Chain : &quot;  +  TEXT({!chainNum})  +  &quot; Count : &quot;  +  TEXT({!count})</expression>
    </formulas>
    <interviewLabel>LWC UI Orchestrator Task Flow Demo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LWC UI Orchestrator Task Flow Demo And Sample</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>930</locationX>
        <locationY>458</locationY>
        <collectionReference>ListOfAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Account_Name_with_count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_chainNum</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Add_1_to_recidx</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Default_Account_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>DeleteAccount</name>
        <label>Delete Account</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <inputReference>get_Test_Account</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>get_Test_Account</name>
        <label>get Test Account</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DeleteAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Default_Account_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>1018</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <inputReference>Loop_1</inputReference>
    </recordUpdates>
    <start>
        <locationX>496</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>paramTwocheck</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>chainNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>lastString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListOfAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>outputJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>paramOne</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paramThree</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paramTwo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recIdx</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
